* {
    box-sizing: border-box;
}
body,button{
    font-family: "Lucida Grande","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","Yu Gothic",sans-serif;
    
}
body{
    background:linear-gradient(180deg,
         rgba(0, 0, 0, 0.4) 50%,
         rgba(0, 0, 0, 0.4) 50% ),
         url(../img/back.jpg);
    background-size: cover;
}

/* top */
#top{
    text-align: center;
}
h1{
    height: 80px;
    width: auto;
    margin-top: 15px;
}
.logo-img{
    height: 100%;
}
#start{
    line-height: 40px;
    padding: 0 10px;
    border-radius:40px;
    box-shadow: 0px 3px 0px gray;
    font-weight: bold;
    color: white;
    background-color: #EA5455;
}
#start:hover{
    background: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
}
#start:active{
    background: none;
    background: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
    box-shadow:none;
    margin-top: 2px;
    margin-bottom: -2px;
}

/* main */
p{
    display: none;
    align-items: center;
    font-weight: bold;
}
.text{
    text-align: center;
    padding: 0;
    margin: 0;
    display: none;
}
#main{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.main-area{
    padding-top: 10px;
    margin: 20px ;
    width: 1000px;
    height: 460px;
    border: 1px solid gray; 
    border-radius: 40px;
    background-color: rgba(255,255,255,0.9);
}
.opponent-area{
    height: 160px;
}
.opponent-img{
    padding-top: 20px;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border-radius: 50%;
}
.Oimg{
    max-height: 100%;
}
.Otext{
    background-color: lightcoral;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.Omaker,.Pmaker{
    background: linear-gradient(transparent 70%, #FFFF00 0%);
}
.opponent-choice{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.vs-area{
    height: 22.5px;
    margin: 20px 0;
}
.vs{
    height: 22.5px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.vs-img{
    height: 100%;
}
.player-area{
    height: 221px;
    display: flex;
    flex-flow: column;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
.player-result-container{
    flex-flow: column;
}
.Ptext{
    background-color: lightskyblue;
    border-radius: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.player-choice{
    padding: 8px 0;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}
.player-result{
    padding: 7px 0;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}
.janken-container{
    text-align: center;
    margin: 0;
    height: 120px;
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
li{
    flex:0 0 20%;
}
.janken{
    height: 100px;
    width: 100px;
    margin: 10px 20px;
    border-radius: 50%;
    background-color: lightskyblue;
    display: none;
    box-shadow: 4px 4px 4px navy;
}
.janken:hover{
    opacity: 0.8;
}
.janken:active{
    box-shadow:none;
    margin-top: 12px;
}
.Ppokemon-img{
    margin: auto;
    max-width: 100%;
}

#score-area{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
    background-color: rgba(255,255,255,0.8);
}
.score{
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px;
    opacity: unset;
}
.point_win{
    color: royalblue;
}
.point_draw{
    color: forestgreen;
}
.point_lose{
    color: crimson;
}