/* ここから下に記載していく */

/* メディアクエリのサイズ */
/* スマホ max-width:480px; */
/* タブレット max-width:1050px; */

/* 共通 */
@charset "utf-8";

* {
    box-sizing: border-box;
}
body {
  font-family: "Open Sans","Hiragino Kaku Gothic ProN";
  margin: 0;
  font-size: 16px;
  letter-spacing:1px;
  color: #444;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
p {
  line-height: 30px;
  }
img{
  max-width: 100%;
  height: auto;
}
h2{
  margin-top:60px;
  margin-bottom:30px;
  font-size: 24px;
  font-weight: bold;
  color: #CC0000;
}
.maker-line{
  background:linear-gradient(transparent 70%, #FFFF00 0%);
}
.heading{
  text-align: center;
}
.text-head{
  margin-bottom: 60px;
}
.btn{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 240px;
  font-size: 20px;
  font-weight: bold;
  color:white;
  background: linear-gradient(135deg, gold 10%, orangered 100%); 
  display:inline-block;
  opacity: 1;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 7px orangered;
}
.btn:hover {
  opacity: 0.5;
}
.btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* headerここから*/
header {
  height: 70px;
  width: 100%;
  background-color:white;
  position :fixed;
  top: 0;
  z-index: 10;
  border-bottom:1px solid orange;
  display: flex;
}
.header-wrapper{
  display: flex;
  justify-content:space-between;
  margin:0 30px 0 30px;
  align-items: center;
}
.logo {
  height: 50px;
}
.nav-list{
  display: flex;
}
.header-item>a{
  font-size: 21px;
  line-height: 70px;
  padding: 0px 25px;
  color:Black;
  display: block;
  transition: all 0.1s;
  text-transform: uppercase;
}
.header-item>a:hover {
  background: linear-gradient(135deg, gold 10%, orangered 100%); 
  color:white;
}
.nav-mobile{
  display: none;
}
@media screen and (max-width: 480px) {
  .nav-list{
    display: none;
  }
  .logo {
    height: 40px;
    margin-top: 15px;
  }
  .header-wrapper{
    margin:0 10px 0 10px;
    width: 100%;
  }
  .nav-mobile{
    max-width: 100%;
    display: flex;
  }
  .input-hamburger{
    display: none;
  }
  .label-hamburger{
    position: fixed;
    top:24px;
    right: 20px;
  }
  .hamburger-line{
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 5px;
  }
  .nav-mobile-menu{
    position: fixed;
    top:70px;
    right: 0px;
    background-color: black;
    opacity: 0.8;
    width: 200px;
    height: auto;
    transform: translateX(200px);
    transition: .3s ease-in-out;
  }
  #hamburger:checked ~ .nav-mobile-menu{
    transform: translateX(0px);
  }
  .header-item{
    border-bottom: solid 1px #ffffff;
  }
  .header-item>a{
    color: white;
  }
  .header-item>a::after {
    content: ">";
    text-align: right;
    position: absolute;
    right: 20px;
    color: white;
    font-size:21px;
  }
  #hamburger:checked ~ .label-hamburger>.ham-line1{
    transform: rotate(45deg) translateY(6px) translateX(5px);
    transition: 0.5s;
  }
  #hamburger:checked ~ .label-hamburger>.ham-line2{
    opacity: 0;
    transition: 0.5s;
  }
  #hamburger:checked ~ .label-hamburger>.ham-line3{
    transform: rotate(-45deg) translateY(-6px) translateX(5px);
    transition: 0.5s;
  }
}

/* main-visualここから */
.main-visual{
  background:linear-gradient(180deg, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 50% ),url("../img/mainbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-visual-wrapper{
  display: flex;
  justify-content: center;
}
.main-text-box {
  padding: 260px 0 200px 0;
  color: white;
  width: 980px;
  text-align:justify;
  text-align-last:justify;
}
.maincopy{
  display: none;
  /* font-size: 60px; */
  font-size: 4vw; /* 60/1520=0.04 */
  font-weight: bold;
  letter-spacing:5px;
  line-height:65px ;
}
.subcopy{
  /* font-size: 35px; */
  font-size: 2.3vw; /* 35/1520=0.02 */
  letter-spacing:5px;
  line-height:40px;
  margin-top: 30px;
}
.copy-typing{
  font-size: 4vw; /* 60/1520=0.04 */
  font-weight: bold;
  letter-spacing:5px;
  line-height:65px ;
  overflow:hidden;
  white-space: nowrap;
  width: 15.5em;
  border-right: .08em solid;
  animation: typing 4s steps(30), caret 0.3s steps(1) infinite;
  }
@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

@media screen and (max-width: 480px) {
  #main{
    margin-top:-70px;
    padding-top:70px;
  }
  .main-visual{
    width: 100%;
    margin-top: 70px;
  }
  .main-text-box{
    width: 100%;
    padding: 0 10px 0 10px;
  }
  .maincopy{
    display: block;
    font-size: 5vw;
    line-height:35px;
    padding: 0 5px 0 5px;
    margin-top: 50px;
    white-space: nowrap;
  }
  .subcopy{
    font-size: 3vw;
    line-height:35px;
    letter-spacing:2px;
    padding: 0 5px 0 5px;
    margin-top: 0px;
    margin-bottom: 50px;
    white-space: nowrap;
  }
  .copy-typing{
    display: none;
  }
}

/* aboutここから */
#about{
  margin-top:-70px;
  padding-top:70px;
}
.about-text p{
  margin: 40px;
}
.about-imgs{
  margin-top:80px ;
  display:flex;
}
.about--img{
  width: 25%;
}
@media screen and (max-width: 480px) {
  .about-text p{
    margin: 20px 15px;
  }
  .about-imgs{
    margin-top: 20px;
  }
}

/* course */
#course{
  margin-top:-70px;
  padding-top:70px;
}
.course-block{
  display: flex;
}
.course-item{
  width: 50%;
  height: auto;
}
.course-img img{
  width: 100%;
}
.course-text-box{
  background-color: #fafafa;
  height: auto;
  display: flex;
  align-items: center;
}
.course-box-right{
  justify-content: flex-end;
}
.course-text{
  height: auto;
}
.course-text-left{
  padding-left: 50px;
}
.course-text-right{
  padding-right: 50px;
}
.course-setumei{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
}
:is(.course-num1 , .course-num5):hover{
  animation: SlideIn1 1.6s infinite;
  animation-iteration-count:1;
  /* animation-delay:; */
}
@keyframes SlideIn1 {
  0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(-180px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.course-num4:hover{
  animation: SlideIn2 1.6s infinite;
  animation-iteration-count:1;
  /* animation-delay:; */
}
@keyframes SlideIn2 {
  0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(180px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 480px) {
  .text-head{
    margin: 0 15px 20px 15px;
  }
  .course-block{
    flex-flow: column;
  }
  .course-item{
    width: 100%;
  }
  .course-block .course-num1{
    order: 1;
  }
  .course-block .course-num2{
    order: 2;
  }
  .course-block .course-num3{
    order: 4;
  }
  .course-block .course-num4{
    order: 3;
  }
  .course-block .course-num5{
    order: 5;
  }
  .course-block .course-num6{
    order: 6;
  }
  .course-text-left{
    padding-left: 0;
  }
  .course-text-right{
    padding-right: 0;
  }
  .course-text-box{
    padding:20px 40px;
  }
  .course-setumei{
    text-align: center;
    line-height:35px;
    padding-bottom: 20px;
  }
  .course-syousai{
    padding-bottom: 20px;
  }
  .course-num1 .course-num4 .course-num5{
    animation: none;
  }
}

/* news */
#news{
  margin-top:-70px;
  padding-top:70px;
}
.news-wrapper{
  margin-bottom: 25px;
}
.news-text-head{
  margin-bottom: 45px;
}
.news-list{
  display: flex;
  justify-content: center;
}
.article{
  margin: 0 15px;
  padding: 30px 30px;
  text-align:left;
  display: block;
  background-color: lightgoldenrodyellow;
  border: solid;
  border-color: white;
  color: #444;
}
.news-img{
  width: 100%;
}
.news-date{
  padding-top: 30px;
  padding-bottom: 24px;
  color: #999;
  font-size: 14px;
}
.new-news::after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #FF3333;
  padding: 1px 3px;
  font-size:12px;
}
.news-text{
  color: #444;
}
.article:hover{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.7;
  text-decoration:underline solid #444;
  /* text-decoration:none; */
  cursor: pointer;
}
.news-btn{
  display: flex;
  justify-content: center;
}
.more{
  margin-top: 45px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .news-list{
    display: block;
  }
  .news-text-head{
    margin-bottom: 20px;
  }
  .article{
    margin-bottom: 20px;
  }
  .news-date{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .more{
    margin-top: 20px;
  }
}

/* access */
#access{
  margin-top:-10px;
  padding-top:10px;
}
.access-wrapper{
  width: 100%;
  background-color: #fafafa;
  padding-bottom: 60px;
}
.access-h2{
  padding-top:60px ;
}
.map-img{
  display: flex;
  justify-content: center;
}
.access-table{
  margin-top: 60px;
}
table{
  display: flex;
  justify-content: center;
}
.access-tr{
  line-height: 50px;
  border-bottom: dotted 2px lightgoldenrodyellow;
}
.access-tr:last-child{
  border-bottom: none;
}
.access-syousai{
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}
.access-item{
  position: relative;
  padding: 0 30px 0 30px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(135deg, gold 30%, orangered 100%); 
  color: white;
  border-bottom: solid 2px white;
}
.access-item:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid orangered;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.sp_br{
  display: none;
}
@media screen and (max-width: 480px) {
  .access-wrapper{
    padding-bottom: 40px;
  }
  .map-img{
    width: 100%;
  }
  iframe{
    max-width: 100%;
  }
  .access-table{
    margin-top: 40px;
    width: 100%;
  }
  .access-tr{
    line-height: 1.5;
  }
  .access-item{
    width: 25%;
    padding: 15px;
    font-size: 1vw;
    /* 35/1520=0.02 */
    vertical-align: middle;
    white-space: nowrap;
  }
  .access-syousai{
    width: 75%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 1vw;
    vertical-align: middle;
    white-space: nowrap;
  }
  .sp_br {
    display: block;
  }
}

/* contact */
#contact{
  margin-top:-70px;
  padding-top:70px;
}
.contact-text p{
  margin: 30px;
}
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 270px;
  letter-spacing: 0.05em;
  font-weight: bold;
  display: flex;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 0px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 48px;
  display: inline-block;
  text-align: center;
  align-items: center;
  background: linear-gradient(135deg, #FEB692 10%, #EA5455 100%); 
  color: #fff;
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 20px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 20px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 100%;
  font-family: "Open Sans","Hiragino Kaku Gothic ProN";
  letter-spacing:1px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 240px;
  display: block;
  letter-spacing: 0.05em;
  background: linear-gradient(135deg, gold 10%, orangered 100%); 
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  appearance:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0px 7px orangered;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
.Form-Item-Label--{
  width: 220px;
}
.Form-Item-Input:focus{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: 0 0 0 3px orange;
  border-radius: 6px;
}
.Form-Item-Textarea:focus{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: 0 0 0 3px orange;
  border-radius: 6px;
}
.select-input{
  background-image: url(../img/arrow_down_bl.png);
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 14px auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.checkbox--{
  padding-left: 1em;
  height: auto;
  flex: 1;
  width: 100%;
  max-width: 430px;
}
.checkbox-item-all{
  display: block;
  cursor: pointer;
}
.checkbox-item{
  margin-bottom: 24px;
}
.soushin{
  margin-top: 30px;
  margin-bottom: 140px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label--{
    width: 100%;
  }
  .contact-text p{
    margin: 30px 15px;
  }
}

/* footer */
footer {
  margin-top: 140px;
  text-align: center;
  color:white;
  /* background-color: #707070; */
  background-color: #CC0000;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.pagetop-container{
  display: none;
}
.icon-up{
  color: white;
  display: block;
  padding: 10px 0;
}
.btn-pagetop{
  position: absolute;
  top:-78px;
  right: 30px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CC0000;
  font-size: 30px;
}
.n_pagetop{
  display: none;
}
.n_pagetop{
  display: block;
  position: fixed;
  bottom: 0px;
  right: -20px;
  z-index: 10;
  width: 154px;
  height: 185px;
}
.js-pAnchor{
  position: absolute;
  right: 30px;
  display: block;
  width: 100%;
  height: 100%;
}
.n_pagetop:hover{
  /* transition: ; */
  transform:translateY(-20px);
  /* transition: 0.5s; */
}

/* ボタン全体 */
.sns-icon{
  display: flex;
  justify-content: center;
}

.flowbtn7{
  border-radius:50%;
  position:relative;
  display:inline-block;
  width:50px;
  height:50px;
  font-size:30px;
  color:#fff!important;
  text-decoration:none;
  transition:.5s;			
  }
  /* アイコンをど真ん中に*/
  .flowbtn7 i{
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  }
  /* ulタグの内側余白を０にする */
  ul.snsbtniti{
  padding:0!important;
  }
  /* ボタン全体の位置 */
  .snsbtniti{
  margin-bottom: 20px;
  display:flex;
  flex-flow:row wrap;
  width: 500px;
  }
  /* ボタン同士の余白 */
  .snsbtniti li{
  flex:0 0 20%;
  text-align:center !important;
  }
  /* ボタンにマウスを乗せた時 */
  .flowbtn7:hover{
  -webkit-transform:translateY(-5px);
  -ms-transform:translateY(-5px);
  transform:translateY(-5px);
  }
  /* Twitter */
  .fl_tw7{
  background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
  }
  /* Instagramアイコン位置 */
  .insta_btn7 .fa-instagram{
  font-size:35px;	
  }
  /* Instagram紫グラデ背景 */
  .insta_btn7{
  background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow:hidden;	
  }
  /* Instagramオレンジグラデ背景 */
  .insta_btn7:before{
  content: '';
  position:absolute;
  top:27px;
  left:-12px;
  width:59px;
  height:40px;
  background:-webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  }
  /* Facebook */
  .fl_fb7{
  background: linear-gradient(135deg, #6699ff 0%,#3b5998 100%);
  }
  /* YouTube */
  .fl_yu7{
  background:linear-gradient(135deg, #f5515f 0%,#c9293c 100%);
  font-size:26px;
  }
  /* LINE */
  .fl_li7{
  background: linear-gradient(135deg, #3a9278 0%,#00c300 100%);
  }
@media screen and (max-width: 480px) {
  footer {
    margin-top: 40px;
    padding-bottom: 80px;
  }
  .pagetop-container{
    /* display: none; */
    display: block;
    max-width: 100%;
    position: fixed;
    bottom: 0px;
    right: -20px;
    z-index: 10;
  }
  .n_pagetop{
    display: none;
    /* display: block;
    position: fixed;
    bottom: 0px;
    right: -20px;
    z-index: 10;
    width: 90px;
    height: 110px; */
  }
  /* .js-pAnchor{
    position: absolute;
    right: 30px;
    display: block;
    width: 100%;
    height: 100%;
  } */
  .sns-icon{
    display: none;
  }
}